.grid-container {
    // padding: 10px 60px;
    display: grid;
    grid-gap: 30px 5%;
    grid-template-columns: repeat(auto-fill, minmax(rem(210px), 2fr));
    margin-bottom: 10px;
    @include for-mobile-layout {
        grid-gap: 10px 3%;
        grid-template-columns: repeat(auto-fill, minmax(rem(120px), 2fr));
        margin-bottom: 10px;
        li:last-child {
            display: none;
        }

    }
}

.item-app-top {
    margin-bottom: 20px;
}

.item-app {
    padding: 20px 40px;
    & h1 {
        // border-top: rgb(226, 222, 222) 1px solid;
        font-family: Handlee, sans-serif;
        font-size: 30px;
        color: $clr5;
        padding-top: 40px;
        padding-bottom: 40px;
        font-weight: bolder;
        // background-color: rgb(238, 235, 235);
        border-radius: 5px;
    }
    @include for-mobile-layout {
        padding: 10px 20px;
        & h1 {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.more {
    font-family: Handlee, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
