td {
    width: 12vw;
    & button {
        background-color: $clr2;
        margin: 5px;
    }
}

.sign-in-forms {
    margin: 10px;
    & td {
        width: 25vh;
    }
    @include for-mobile-layout {
        flex-direction: column;
    }
}

.sign-in-title {
    margin: rem(25px) 0 rem(20px) 0;
    font-size: rem(30px);
}

th {
    padding: rem(10px);
    font-size: rem(22px);
    @include for-mobile-layout {
        padding: 30px 0px 20px 0;
    }
}


.signIn-msg {
    position: absolute;
    margin: 0 auto;
    top: 23vh;
    z-index: 10;
    padding: 10px;
    border-bottom:  1px solid red;
}
