td {
    width: 12vw;
    & button {
        background-color: $clr2;
        margin: 5px;
    }
}

.sign-in-title {
    margin: rem(25px) 0 rem(20px) 0;
    font-size: rem(30px);
}

th {
    padding: rem(10px);
    font-size: rem(22px);
}


.signIn-msg {
    position: absolute;
    margin: 0 auto;
    top: 23vh;
    z-index: 10;
    padding: 10px;
    border-bottom:  1px solid red;
}
