
// COLOR PALETTE

$clr1: #fff;
$clr2: #f8e1e6;
$clr4: #fc76a9;     // main color
$clr5: #fa3480;
$clr7: #500320;

$clr9: #505253;
$clr10: #000000;

// BORDERS

$clr11: #dad4d4;



// LAYOUT BREAKPOINTS

$break-mobile: 400px;
$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


