.app-header {
    padding: 0px 20px;
  }

.logo {
    font-size: 1.5rem;
    &:hover {
      color: $clr4;
    }
}

.select {
  padding: 20px;
}

.header-search {
  padding-top: 20px;
  width: 400px;
}

.app-header .search {
  margin-left: 20px;
}

.heart-btn-header {
  color : red;
  margin: 5px;
}