.wish-list {
    width: 60vw;
    position: absolute;
    z-index: 4;
    top: 0;
    position: sticky;
    padding-top: 70px;
    margin: 0 auto;
}

.wish-list-drawer {
    border-radius: 10px;
    background-color: $clr2;
    height: 89vh;
    padding: 20px;
    border: 1px solid black;
    overflow: scroll;

    // animation: 'drawer-in' 3s 1000ms;
}

.screen {
    position: fixed;
    left:0;
    top: 0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.open-screen.screen  {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
}

.el-drawer__wrapper {
    width: 100%;
}

.title {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.wishList-ul {
    margin: 0 auto;
    width: 100%;
    font-size: 1rem;
    color: $clr7;
    & li {
        padding-top: 10px;
        margin: 0 auto;
        width: 35vw;
        grid-template-columns: 1fr 2fr 1fr;
    }
    & li img {
        width: 10vw;
    }
    & li .btns {
        height: 100%;
        & button {
            margin: 5px;
        }
    }
    & .content {
        padding: 15px; 
        grid-template-rows: 1fr 1fr 1fr;
    }
    & .action-buy {
        padding: 10px 0;
        color: $clr1;
        background-color: $clr4;
        font-size: 1.3rem;
        font-weight: bolder;
    }
    & .action-remove {
        font-size: rem(12px);
        padding: 13px 0;
    }
}
