.footer {
    height: 20%;
    margin-top: 20px;
}

.footer-content {
    height: 80px;
}

.member :hover {
    font-weight: bolder;
    color: $clr4;
    border-bottom: $clr7 1px solid; 
    padding: 5px; 
    width: 170px;
}


