.app-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  padding: 0 rem(20px);
  box-shadow: 0 1px rem(6px) 0 rgba(32,33,36,0.28);
  z-index: 10;
}

.logo {
  font-size: rem(24px);
  &:hover {
    color: $clr4;
  }
}

.select {
  padding: 0 20px;
}

.header-search {
  padding-top: rem(20px);
  width: 400px;
}
