.app-header {
  background-color: $clr1;
  color: $clr4;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 rem(20px);
  box-shadow: 0 1px rem(6px) 0 rgba(32,33,36,0.28);
  z-index: 10;
  &.logOut:hover {
    color: $clr9;
  }
}

.logo {
  font-size: rem(34px);
  &:hover {
    color: $clr9;
  }
}

// .select {
//   padding: 0 20px;
// }

.nav-bar {
  font-size: 1.3rem;
}

.fa-bars{
  font-size: 32px;
}

.hamburger-btn {
  display: none;
}
// copy of header -

@media screen and (max-width: 900px){

  .nav-bar{
  flex-direction: column;
  }
  
  .hamburger-btn {
      display: block;
      padding: 10px;
      // font-size: 1rem;
  }

  .spread-nav-bar {
      flex-direction:  column;
      align-content: center;
      padding-right: 0;
      position: fixed;
      top: 0px;
      right: 0px;
      height: 100vh;
      background: rgba(255, 255, 255, 0.8);
      border-left: 1px solid rgba(153, 153, 153, 0.5);
      transform: translate(100%, 0);
      transition: transform .6s;
      z-index: 10;
  }

  .user-nav{
      flex-direction:  column;
      align-items: center;
  }

  .spread-nav-bar.open-menu{
      transform: translate(0, 0);
  }   

}
