.footer {
    height: 28vh;
    flex-grow: 1;
    @include for-mobile-layout {
        height: 15vh;
        padding: 10px 0;
    }
}

.footer-content {
    height: 18vh;
}

.member :hover {
    font-weight: bolder;
    color: $clr4;
    border-bottom: $clr7 1px solid; 
    padding: 5px; 
}


