.footer {
    margin: 20px;
    height: 200px;
    margin-top: 80px;
}

.footer-content {
    height: 120px;
}

.member :hover {
    font-weight: bolder;
    color: $clr4;
    border-bottom: $clr7 1px solid; 
    padding: 5px; 
    width: 170px;
}


