
.grid-container {
    margin: rem(60px);
    display: grid;
    grid-gap: rem(15px);
    grid-template-columns: repeat(auto-fill, minmax(rem(210px), 2fr));
    
}
.preview {
    margin: rem(40px) 0;
    border-radius: 10px;
    max-height: rem(400px)
}

img.img-preview {
    border-radius: 10px;
    width: 100%;
    height: rem(280px)
}

img.img-preview:hover {
    opacity: 0.7;
    &.preview-heart {
        opacity: 1;
    }
}

.preview-content {
    padding: 0 rem(5px) 0 rem(5px);
    line-height: 1.4;
}

.preview-name {
    font-size: rem(20px);
}

.by {
    margin: rem(5px);
}

.preview-heart {
    position: absolute;
}
