// class inside itemList container

.preview {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: rem(400px);
    box-shadow: 0px 0px 3px 0px #969090;
    .img-hover {
        overflow: hidden;
        img {
           transition: 0.6s ease-in-out;
        }
    }
    &:hover .img-hover img {
            transform: scale(1.1)
    }
    @include for-mobile-layout {
        margin: 0 5px;
    }
}

img.img-preview {
    display: block;
    height: 280px;
    object-fit: cover;
}

.preview-content {
    // padding: 0 10px;
    height: 100px;
    padding: 0 rem(5px) 0 rem(5px);
    line-height: 1.4;
    @include for-mobile-layout {
        height: 90px;
        & .preview-seller-mobile {
            flex-direction: row;
        }
        @include for-mobile-layout {
            margin-top: 3px;
            margin-bottom: 5px;
        }
    }
}

.preview-name {
    font-size: rem(16px);

    // align-self: center;;

}

.preview-price {
    font-size: rem(13px);
}

.avatar-img{
    @include for-mobile-layout {
    }

}

.by {
    margin: rem(5px);
    @include for-mobile-layout {
        display: none;
    }
}

.preview-heart {
    position: absolute;
    z-index: 1;
}
// for item details page
.similar-items{
    & .grid-container{
        grid-template-columns: repeat(auto-fill, minmax(12.125rem, 1fr));
    }
}