.item-details {
    margin: 2%;
    height: 80%;
}

.img-details {
    max-height: 80%;
    border-radius: 5px;
    margin-left: 5%;
}

.Details-title{
    color: $clr7;
}

.heart-btn {
    color : red;
    opacity: 0.5;
    margin: 5px;
    &:hover {
        opacity: none;
    }
}

.buy-msg {
    margin-top: 30px;
    padding: 2px;
    width: 270px;
    font-size: 1.2rem;
    background-color: $clr2;
    color: $clr7;
}
.item-img {
    width: auto;
    height: 85vh;
    padding: 10px;
}
.seller-info {
    width: 100%;
}

.img-container {
    height: 80vh;
    width: 50vw;
}

.item-title {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.details-content {
    & h3 {
        color: $clr7;
        margin-top: 10px
    }
    & span {
        font-weight: bolder;
        }
    & h2 {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    & h4 {
        height: 80px;
    }
}

.item-details-owner {
    & img {
        margin-left: 10px;
    }
}