.img-details {
    width: 200px;
    height: 300px;
}

.Details-title{
    color: $clr7;
}

.heart-btn {
    color : red;
    opacity: 0.5;
    margin: 5px;
    &:hover {
        opacity: none;
    }
}
