.preview-container {
    border: $clr11 1px solid;
    width: 20vw;
    margin: 5px;
    padding: 5px;
    list-style:none; 

}

.img-prev {
    width: 50%;
    max-height: 150px;
    padding: 3px;
}

.heart-btn {
    color : red;
    opacity: 0.5;
    margin: 5px;
    &:hover {
        opacity: none;
    }

}

