.user-details {
    grid-template-columns: 1fr 3fr;
    grid-gap: rem(30px);
    margin: 0 auto;
    & h1 {
        font-size: 1.5rem
    }
    & h2 {
        font-size: 1rem
    }
    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
    }
}

.user-section {
    position: sticky;
    height: 90vh;
    padding: 20px;
    background-color: $clr2;
    & .btns {
        margin: 0 auto;
        margin-top: 20px; 
        & .btn {
            margin-right: 20px;
            margin-top: 10px;
        }
    }
    @include for-mobile-layout {
        padding: 10px;
        & .btns {
            margin: 0 auto;
            margin-top: 0px; 
            // & .btn {
            //     margin-right: 20px;
            //     margin-top: 10px;
            // }
        }
    }

}

.fa-user {
    font-size: 20px;
}

.user-details-content {
    height: 70vh;
    line-height: 1.6;
    font-size: rem(20px);
    & h1 {
        margin: 0 auto;
    }
    @include for-mobile-layout {
        height: 40vh;
    }
}


.user-img {
    margin:  0 auto;
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.user-info {
    line-height: 2;
    & i {
        padding-right: 15px;
    }
}

.items-section {
    padding: 20px;
    text-transform: capitalize;
    & .btns {
        padding: 20px 0;
        & .btn {
            margin-right: 20px;
        }
        & .btn:focus {
            background-color: $clr11;
        }
    }
    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        padding: 15px;
        & .btns {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            & .btn {
                padding: 5px;
            }
        }
       
    }
}



.items {
    grid-gap: rem(15px);
    grid-template-columns: repeat(auto-fill, minmax(rem(180px), rem(200px)));
    @include for-mobile-layout {
        grid-gap: 10px 3%;
        grid-template-columns: repeat(auto-fill, minmax(7.5rem, 2fr));
        margin-bottom: 10px;
    }
    & td {
        @include for-mobile-layout {
            width: 40vw;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

.uploadImg-input {
    width: 20vw;
}




.icon-red {color: #0088cc}

.icon-grey {color: grey}

.items-section span {   
    width:100px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}

.badge:after{
    content: "new";
    position: absolute;
    background: red;
    height: 2rem;
    top: -1.5rem;
    right: 0.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 0.7rem;
    border-radius: 50%;
    color: white;
    border:1px solid $clr11;
}