.user-details {
    margin: 20px;
}

.user-item {
    width: 55%;
}

.user-about {
    padding-left: 5%;
    border-left: $clr2 0.2px solid;
    & h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}
