html {
    font-family: Montserrat, sans-serif;
    color: $clr9;
}

body {
    height: 100%;
    padding: 0 !important;
}

.frame {
    border: 1px solid rgb(192, 188, 188);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.btn {
    font-size: 1rem;
    border: $clr11 1px solid;
    padding: 8px 15px;
    border-radius: 10px;
}

.avatar-img {
    width: 35px;
    height: 35px;
    border-radius: 40px;
}

.nav a {
    padding: 25px;
    &.router-link-exact-active {
        color: $clr4;
    }
    &:hover {
        color: $clr4;
    }
}

.alert {
    color: red;
}

.success {
    color: green;
}

.user-msg {
    position: absolute;
    width: 25vw;
    // margin: 0 auto;
    right: 0;
    top: 80px;
    z-index: 10;
    padding: 30px;
}


img {
    width: 100%;
}

.fa-heart {
    margin: rem(5px);
    font-size: rem(20px);
    size: rem(10px);
    color: $clr4;
    background-color: $clr1;
    border: $clr11 1px solid;
    padding: rem(7px);
    border-radius: 100%;
}

